// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: "@theme_fg_color";
$theme_bg_color: "@theme_bg_color";

window.Bar {
  font-family: "JetBrains Mono";
  background: transparent;
  color: #{$theme_bg_color};
  font-weight: bold;

  >centerbox {
    background: transparent;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  button {
    border-radius: 8px;
    margin-right: 4px;
    margin-left: 4px;
    background: white;
    padding: 4px;
    border: none;
    color: black;
  }

  .active-workspace {
    margin: 0px;
    background: #212121;
    border-style: solid;
    border-color: white;
    color: white;
  }

  .active-workspace-button {
    margin: 0px;
    background: #212121;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
  }


  .active-client {
    margin: 0px;
    background: #212121;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
  }

  .workspaces {
    margin-left: 6px;
    margin-right: 6px;
  }

  .workspaces button {
    margin-left: 2px;
    margin-right: 2px;
  }

  .workspaces label {
    padding: 0px;
  }

  .distro-module {
    padding-left: 10px;
    padding-right: 14px;

  }

  .media-module box {
    margin-right: 10px;
    margin-left: 4px;

  }

}
